.container {
	height: 100vh;
	position: relative;
}

.content {
	width: 50%;
	max-width: 650px;
	height: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: linear-gradient(to right bottom, #06beb6, #48b1bf);
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-group {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 30px;
}

.form-group__header {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.form-group__form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.form-group__input {
	width: 80%;
	/* height: 2rem; */
	border: 0;
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
	outline: 0;
}

.form-group__input:active,
.form-group__input:focus {
	border: 0;
	outline: none;
}

.form-group__button {
	font-size: 1rem;
	display: inline-block;
	padding: 0.5rem 1.5rem;
	border-radius: 10rem;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
}

.form-group__button:hover {
	transform: translateY(-3px);
	box-shadow: 0 1rem 2rem rgba(#000, 0.2);
}

.form-group__button:active,
.form-group__button:focus {
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
}

.form-group__result {
	font-size: 2rem;
}

.num-value {
	color: white;
	padding: 0.5rem;
}

.form-group__error {
	font-size: 1.2rem;
	color: red;
}
